if language == 'pt-br'
  - var country = 'Brasil'
  - var vempronossotime = 'Vem pro nosso time'
  - var palavradossocios = 'Palavra dos Sócios'
  - var sejaumparceiro = 'Seja um parceiro'
  - var nossosprodutos = 'Nossos produtos'
else
  - var country = 'Brazil'
  - var vempronossotime = 'Work with us'
  - var palavradossocios = 'Meet the leaders'
  - var sejaumparceiro = 'Be a partner'
  - var nossosprodutos = 'Our Products'

footer(class="footer #{footerClass}")
  .global-wrap
    .footer-item
      h3 Rio de Janeiro

      ul.address-list
        li +55 (21) 4101 2259
        li Nova Am&eacute;rica Offices
        li Av. Pr. Martin Lutherking Jr, 126
        li Torre 2000, Sala 221
        li #{country}
        li
          a(href='#') Google Maps
    //- .footer-item
    //-   h3 Mais da Usabit
    //-   ul.more-info-list
    //-     li
    //-       a(href='#')
    //-         i.fa.fa-caret-right(style='color: #f9615b')
    //-         |  #{vempronossotime}
    //-     li
    //-       a(href='#{langLink}/partners/')
    //-         i.fa.fa-caret-right(style='color: #f9615b')
    //-         |  #{palavradossocios}
    //-     li
    //-       a(href='#')
    //-         i.fa.fa-caret-right(style='color: #f9615b')
    //-         |  #{sejaumparceiro}
    //-     li
    //-       a(href='#')
    //-         i.fa.fa-caret-right(style='color: #f9615b')
    //-         |  #{nossosprodutos}
    ul.social-icons
      li
        a(href='https://github.com/usabit', target='_blank')
          i.fa.fa-github

      li
        a(href='https://www.instagram.com/usabit_/', target='_blank')
          i.fa.fa-instagram
