section.cases-content
  .header
    .iphone-wrap
      img.screen.reflection(data-speed='1' src='/assets/img/cases-reflection.png')
      img.screen(data-speed='1' src='/assets/img/cases-screen-01.png')
      img.phone(src='/assets/img/cases-phone.png')

  ul.cases-list
    li.cases-list-item
      .featured-wrap(style="background-image: url('/assets/img/cases/alertaoferta.jpg')")
      .item-brief
        .brief-tag.orange #{prelaunch}

        h4 Alerta Oferta

        p #{alertaofertaDescription}

        ul.app-link
          li #[a #[i.fa.fa-android]]
          li #[a #[i.fa.fa-windows]]
          li #[a #[i.fa.fa-desktop.margin-top]]

    li.cases-list-item
      .featured-wrap(style="background-image: url('/assets/img/cases/aliga.jpg')")
      .item-brief
        .brief-tag.blue #{development}

        h4 A Liga

        p #{aligaDescription}

        ul.app-link
          li #[a #[i.fa.fa-android]]
          li #[a #[i.fa.fa-apple]]

    .cases-list-item.simple #{betweenCases1}

    li.cases-list-item
      .featured-wrap(style="background-image: url('/assets/img/cases/spidy.ninja.jpg')")
      .item-brief
        .brief-tag.green #{release}

        h4 spidy.ninja

        p #{spidyninjaDescription}

        ul.app-link
          li #[a #[i.fa.fa-desktop]]
          li #[a #[i.fa.fa-mobile]]

    .cases-list-item.simple #{betweenCases2}

    li.cases-list-item
      .featured-wrap(style="background-image: url('/assets/img/cases/fiscaldebolso.jpg')")
      .item-brief
        .brief-tag.green #{release}

        h4 Fiscal de bolso

        p #{fiscaldebolsoDescription}

        ul.app-link
          li #[a #[i.fa.fa-android]]    
          li #[a #[i.fa.fa-apple]]

    li.cases-list-item
      .featured-wrap(style="background-image: url('/assets/img/cases/liveshop.jpg')")
      .item-brief
        .brief-tag.orange #{prelaunch}

        h4 Live Shop

        p #{liveshopDescription}

        ul.app-link
          li #[a #[i.fa.fa-android]]
          li #[a #[i.fa.fa-windows]]
          li #[a #[i.fa.fa-apple]]

section.inner-banner.cases
  h2 #{secondSubTitle}
